name: Frontend Format

on:
  pull_request:
    branches: [main]
    paths:
      - "frontend/**"

jobs:
  frontend-format-check:
    name: Frontend Format
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Node
        uses: actions/setup-node@v6
        with:
          node-version-file: frontend/package.json

      - name: Set up pnpm
        uses: pnpm/action-setup@v4
        with:
          package_json_file: frontend/package.json

      - name: Install frontend dependencies
        run: pnpm install
        working-directory: frontend

      - name: Check Formatting
        run: pnpm format:check
        working-directory: frontend

      - name: Check Linting
        run: pnpm lint:check
        working-directory: frontend
